<form class="form-inline" action="{{ path('search_articles') }}">
    <input type="text" class="form-control mb-2" id="inlineFormInput" name="query" placeholder="Search">
    <button type="submit" class="btn btn-primary mb-2">Search</button>

</form>